<div>
  <div class="form-horizontal" role="form">
    <%= form_for(@event) do |f| %>
      <div class="field form-group">
        <%= f.label :name,:class => "col-sm-3 control-label" %><br>
        <div class="col-sm-7">
        <%= f.text_field :name, :class => "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :deadline,:class => "col-sm-3 control-label" %><br>
        <div class="col-sm-7">
         <%= f.date_field :deadline, :class => "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :event_type,:class => "col-sm-3 control-label" %><br>
        <div class="col-sm-7">
          <%= f.select :event_type, ['レポート','小テスト','テスト','その他'], { include_blank: '選択してください' }, class: "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :place,:class => "col-sm-3 control-label" %><br>
        <div class="col-sm-7">
          <%= f.text_field :place, :class => "form-control" %>
        </div>
      </div>
      <div class="field form-group">
        <%= f.label :comment,:class => "col-sm-3 control-label" %><br>
        <div class="col-sm-7">
          <%= f.text_area :comment, :class => "form-control" %>
        </div>
      </div>


      <div class="actions form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <%= f.submit "送信", :class => "btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
