<div class="show">
<p id="notice"><%= notice %></p>
<div class="event">
<div class="event-item">
  <div class="event-item-label">Name</div>
  <div class="event-item-content"><%= @event.name %></div>
</div>

<div class="event-item">
  <div class="event-item-label">Deadline</div>
  <div class="event-item-content"><%= @event.deadline %></div>
</div>

<div class="event-item">
  <div class="event-item-label">Place</div>
  <div class="event-item-content"><%= @event.place %></div>
</div>

<div class="event-item">
  <div class="event-item-label">Comment</div>
  <% if @event.comment.present? %>
    <div class="event-item-content"><%= @event.comment %></div>
  <% else %>
    <div class="event-item-content">特にありません</div>
  <% end %>
</div>

<div class="board">
  <h4>掲示板</h4>
  <% if @event.microposts.size > 2%>
  <% @event.microposts.each.with_index(1) do |micropost,index| %>
  <div class="board-item">
  <div class="board_info"><%= index %>: <%= micropost.editor %> : <%= micropost.created_at%> </div>
  <div class="board_content"><%= micropost.content %></div>
</div>
  <% end %>
  <% end %>
</div>


<%= form_for(@micropost) do |f| %>
  <div class="field form-group">
    <%= f.label '名前',:class => "control-label" %>
    <div class="form-field">
      <%= f.text_field :editor, :class => "form-control" %>
    </div>
  </div>


  <div class="field form-group">
    <%= f.label 'コメント',:class => "control-label" %>
    <div class="form-field">
      <%= f.text_area :content, :class => "form-control" %>
    </div>
  </div>


  <div class="align-center">
     <%= f.submit "送信", :class => "button"%>
  </div>
<% end %>

<%= link_to 'Back', events_path, 'data-no-turbolink' => true %>
</div>
