<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @event.deadline %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @event.comment %>
</p>

<div class="container">
	<strong>Content:</strong>
	<% @microposts.each do |micropost| %>
	<p><%= micropost.content %></p>
	<% end %>
</div>


<%= form_for(@micropost) do |f| %>
 <!--  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 -->
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event), 'data-no-turbolink' => true%> |
<%= link_to 'Back', events_path, 'data-no-turbolink' => true %>
