<div class = "wrapper_bg wrapper">

  <div class="main">

    <!-- <div class="sidebar">
      <ul>
        <li>応用物理学科</li>
        <li><%= link_to '小テスト', events_path %></li>
        <li><%= link_to 'レポート', events_path %></li>
        <li><%= link_to 'さまし', events_path %></li>
      </ul>
    </div> -->

    <div class="contents">
      <div class="contents-top">
        <h1>応用物理学科</h1>

        <div class="contents-top-item">
          <h2 data-no-turbolink><%= link_to '今週の小テスト', events_path %></h2>
          <ul>
            <% @tests.each do |test| %>
            <li>
              <% if test.event_type == '小テスト'  %>
              <%= test.name %>:
              <%= test.deadline %>まで
              <% end %>
            </li>
        </ul>
          <% end %>
        </div>

        <div class="contents-top-item">
          <h2 data-no-turbolink><%= link_to '今週のレポート', events_path %></h2>
          <ul>
            <% @reports.each do |report| %>
            <li>
              <% if report.event_type == 'レポート'  %>
              <%= report.name %>:
              <%= report.deadline %>まで
              <% end %>
            </li></ul>
          <% end %>
        </div>
        <div class="contents-top-item">
          <h2 data-no-turbolink><%= link_to 'その他', events_path %></h2>
          
        <ul>
          <% @reports.each do |report| %>
            <li>
              <% if report.event_type == 'テスト'or report.event_type == 'その他'  %>
              <%= report.name %>:
              <%= report.deadline %>まで
              <% end %>
            </li></ul>
          <% end %>
        </div>

      </div>
    </div>


  </div>
</div>