<div class = "wrapper_bg wrapper">

  <div class="main">


    <div class="contents">
      <div class="contents-top">
        <div class="title1">
          <h1>応用物理学科</h1>
        </div>

        <div class="contents-top-item">
          <h2 data-no-turbolink>
            <%= link_to (events_path) do %>
            今週の<span class = "test">小テスト</span>
            <%end%>
          </h2>
          <div class="block1">
          <ul>
            <% @tests.each do |test| %>
            <li>
              <% if test.event_type == '小テスト'  %>
              <%= test.name %>:
              <%= test.deadline %>まで
              <% end %>
              <% end %>
            </li>
        </ul>
          
        </div>
        </div>

        <div class="contents-top-item">
          <h2 data-no-turbolink>
            <%= link_to (events_path) do %>
              今週の<span class = "report">レポート</span>
            <% end %> 
          </h2>
          <div class="block1">
            <% if @reports == nil %>
              <ul>
                <li>今週提出期限のレポートはありません</li>
              </ul>
            <% else %>
              <ul>
                <% @reports.each do |report| %>
                  <li>
                    <% if report.event_type == 'レポート'  %>
                    <%= report.name %>:
                    <%= report.deadline %>まで
                    <% end %>              
                  </li>
                <% end %>
              </ul>
            <% end %>
            
        </div>
      </div>
        <div class="contents-top-item">
          <h2 data-no-turbolink>
            <%= link_to (events_path) do %>
            <span class="others">その他</span>
            <% end %>
          </h2>
        <div class="block1">
        <ul>
          <% @reports.each do |report| %>
            <li>
              <% if report.event_type == 'テスト'or report.event_type == 'その他'  %>
              <%= report.name %>:
              <%= report.deadline %>まで
              <% end %>
              <% end %>
            </li></ul>
        </div>
        </div>

      </div>
    </div>


  </div>
</div>