<%= render partial: "events/navi"%>
<div class="top-page">
	<div class="content-report contents">
		<h2>今週のレポート</h2>
		<div class="content">
		  <% if @reports.present? %>
			<ul>
	          <% @reports.each do |report| %>
	            <li>
		          <div class="content_name"><%= link_to report.name, report  %></div>
		          <div class="content_deadline"><%= report.deadline.month %>月<%= report.deadline.day %>日まで</div>
	            </li>
	          <% end %>
	        </ul>
	      <% else %>
	      	<p>レポートはありません</p>
	      <% end %>
		</div>
	</div>
	<div class="content-small_test contents">
		<h2>今週の小テスト</h2>
		<div class="content">
		  <% if @tests.present? %>
			<ul>
	          <% @tests.each do |test| %>
	            <li>
		          <div class="content_name"><%= link_to test.name, test  %></div>
		          <div class="content_deadline"><%= test.deadline.month %>月<%= test.deadline.day %>日まで</div>
	            </li>
	          <% end %>
	        </ul>
	      <% else %>
	      	<p>小テストはありません</p>
	      <% end %>
		</div>
	</div>
	<div class="content-others contents">
		<h2>その他</h2>
		<div class="content">
			<% if @others.present? %>
			<ul>
	          <% @others.each do |other| %>
	            <li>
		          <div class="content_name"><%= link_to other.name, other  %></div>
		          <div class="content_deadline"><%= other.deadline.month %>月<%= other.deadline.day %>日まで</div>
	            </li>
	          <% end %>
	        </ul>
	      <% else %>
	      	<p>その他の予定はありません</p>
	      <% end %>
		</div>
	</div>
</div>