<div class = "wrapper_bg wrapper">
  
  <div class="main">

    <!-- <div class="sidebar">
      <ul>
        <li>応用物理学科</li>
        <li><%= link_to '小テスト', events_path %></li>
        <li><%= link_to 'レポート', events_path %></li>
        <li><%= link_to 'さまし', events_path %></li>
      </ul>
    </div> -->
    
    <div class="contents">
      <div class="contents-top">
        <h1>応用物理学科</h1>

        <div class="contents-top-item">
          <h2><%= link_to '今週の小テスト', events_path %></h2>
          <% @tests.each do |test| %>
          <ul>
            <li>  内容  :  提出期限　</li>
            <li><%= test.name %>:
          <%= test.deadline %></li>
        </ul>
          <% end %>
        </div>

        <div class="contents-top-item">
          <h2><%= link_to '今週のレポート', events_path %></h2>
          <% @reports.each do |report| %>
          <ul><li><%=  report.name %>:
          <%= report.deadline %></li></ul>
          <% end %>
        </div>

        <div class="contents-top-item">
          <h2><%= link_to '今週のさまし', events_path %></h2>
          <p><%= @samashi %></p>
        </div>

      </div>
    </div>


  </div>
</div>