<!DOCTYPE html>
<html>
<head>
  <title>AppliedPhysics</title>
<meta name="google-site-verification" content="mJIjPkVYv__k3nEKZtTA9j8GAkm_bD2x4KJP5U8LjDI" />
 <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

  <div class="header">
    <div class="header-left">
      <%= link_to 'AppliedPhysics', root_path %>
    </div>
      <div class="header-right">
        <ul>
          <li class="selected" data-no-turbolink>
            <%= link_to '情報一覧',events_path %>
          </li>
          <li class="selected">
            <%= link_to '新規投稿', new_event_path %>
          </li>
          <li class="selected">
            <%= link_to 'お問い合わせ', 'https://twitter.com/applied_w'%>
          </li>
        </ul>
      </div>  
    </div>
    <%= yield %>
  
</body>
</html>
