<!DOCTYPE html>
<html>
<head>
  <title>AppliedPhysics</title>
  <meta name="google-site-verification" content="mJIjPkVYv__k3nEKZtTA9j8GAkm_bD2x4KJP5U8LjDI" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "smart_phone/application", :media => "all" %>
  <meta name="viewport" content="width=device-width">
</head>

<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= yield %>

</body>
</html>
