<!DOCTYPE html>
<html>
<head>
  <title>AppliedPhysics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "smart_phone/application", :media => "all" %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<ul class="dropdown">
<li><a class="dropdown-toggle" data-toggle="dropdown" href="#">
    メニュー1 <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to '新規登録', new_event_path %></li>
      <li><%= link_to '情報一覧', events_path %></li>
      <li><%= link_to 'お問い合わせ', 'https://twitter.com/applied_w'%></li>
    </ul>
</li>
</ul>

<%= yield %>

</body>
</html>
